services:
  influx:
    command: 'influxd run --bolt-path /var/lib/influxdb2/influxd.bolt --engine-path /var/lib/influxdb2/engine --store bolt'
    container_name: influxdb
    image: 'influxdb:2.7-alpine'
    networks:
      - birthdayy
    ports:
      - '8285:8086'
    restart: always
    volumes:
      - 'influx-data:/var/lib/influxdb2'
    logging:
      options:
        max-size: '10m'
        max-file: '3'

  ## To be deleted when switching from MySQL to PostgreSQL
  mysql:
    container_name: mysql
    image: 'mysql:9.0'
    networks:
      - birthdayy
    ports:
      - '3306:3306'
    restart: always
    volumes:
      - 'mysql-data:/var/lib/mysql'
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=birthdayy
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=mysql
    logging:
      options:
        max-size: '20m'
        max-file: '3'
    healthcheck:
      test: ['CMD-SHELL', 'mysqladmin ping -h localhost -u mysql -p mysql']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  postgres:
    container_name: postgres
    image: 'postgres:17-alpine'
    networks:
      - birthdayy
    ports:
      - '5432:5432'
    restart: always
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=birthdayy
    logging:
      options:
        max-size: '20m'
        max-file: '3'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready']
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  redis:
    command: 'redis-server --port 8287 --requirepass redis'
    container_name: redis
    image: 'redis:alpine'
    networks:
      - birthdayy
    ports:
      - '8287:8287'
    restart: always
    logging:
      options:
        max-size: '20m'
        max-file: '3'

  birthdayy:
    build: ./
    container_name: birthdayy
    depends_on:
      - influx
      - mysql
      # - postgres
    environment:
      - DOPPLER_TOKEN=${DOPPLER_TOKEN}
    image: ghcr.io/birthdayybot/birthdayy:latest
    networks:
      - birthdayy
    ports:
      - '8282:8282'
    restart: always
    tty: true
    logging:
      options:
        max-size: '1g'
        max-file: '3'

volumes:
  postgres-data:
  influx-data:
  mysql-data:

networks:
  birthdayy:
