name: Continuous Delivery Straykids

on:
  workflow_dispatch:
  push:
    branches:
      - production
    paths:
      - 'src/**'
      - 'Dockerfile'
      - 'prisma/**'
      - '.github/workflows/continuous-delivery-straykids.yml'

permissions:
  contents: read
  packages: write

env:
  # Uses docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: straykids
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN_STRAYKIDS}}

jobs:
  Publish:
    name: Publish image to GHCR
    runs-on: ubuntu-latest
    outputs:
      deploy_tag: ${{ steps.save_tag.outputs.tag }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v3
        with:
          persist-credentials: false
          submodules: true

      - name: Extract version from package.json
        id: package_version
        uses: saionaro/extract-package-version@fdb5b74adc1278ddb777dfed4c988b9d098bb48d # v1.2.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker images
        id: meta
        uses: docker/metadata-action@507c2f2dc502c992ad446e3d7a5dfbe311567a96 # v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=${{ steps.package_version.outputs.version }}
            type=raw,value=${{ steps.package_version.outputs.version }}.${{ github.run_number }}
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}

      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671 # v4.0.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Save image tag for use in deploy job
        id: save_tag
        run: echo "::set-output name=tag::${{ steps.package_version.outputs.version }}.${{ github.run_number }}"

  Deploy:
    name: Deploy using Docker
    needs: [Publish]
    uses: nikolaischunk/utilities/.github/workflows/docker-deploy.yml@main
    secrets:
      DOCKER_TAG: '${{ env.IMAGE_NAME }}'
      DOCKER_NETWORK: '${{ secrets.DOCKER_NETWORK }}'
      DOPPLER_TOKEN: '${{ env.DOPPLER_TOKEN }}'
      SSH_HOST: '${{ secrets.SSH_HOST }}'
      SSH_PRIVATE_KEY: '${{ secrets.SSH_PK }}'
      SSH_USER: '${{ secrets.SSH_USER }}'
